* {
  font-size: 1em;
  line-height: 1.5;
  color: #191a42;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  /* background: url("background-whitewall.jpg") center center; */
  /* background-size: cover; */
  display: block;
  position: relative;
}

html::after {
  content: "";
  background: url("whiteCrumpledPaper.jpg") center center;
  background-size: contain;
  opacity: 0.4;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.container li,
h4 {
  margin-left: 3%;
}

h4 {
  color: #4eb392;
  font-size: large;
}

li a {
  color: blue;
}

hr {
  border-top: 1px dotted #c560ff;
  opacity: 0.9;
}
